:root {
  --bg-colour: #242424;
  --text-colour: #d6d6d6;
  --for-colour: #2a2a2a;
  --red-0: #cf4e4e;
  --green-0: #4ecf4e;
  --blue-0: #4ec6cf;
}

body {
  margin: 0;
  font-family: 'Robik', sans-serif;
  background-color: var(--bg-colour);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

li, a {
  color: inherit;
  text-decoration: none;
}

a:active {
  background-color: #2a2a2a;
}

* {
  box-sizing: border-box;
  color: var(--text-colour);
}
